:root {
  --game-spacing: 1.5rem;
  --radius: .25rem;
  --color-body-bg: hsl(222deg 20% 75% / 50%);
  --color-body: hsl(222deg 15% 40%);
  --color-input-border: hsl(0deg 0% 20% / 80%);
  --color-header-border: hsl(222deg 20% 60% / 50%);
  --color-banner: hsl(0deg 0% 100%);
  --color-cell: hsl(0deg 0% 100%);
  --color-cell-border: hsl(222deg 20% 60%);
  --color-input-bg: hsl(0deg 0% 100% / 50%);
  --color-success: hsl(146deg 70% 36%);
  --color-incorrect: hsl(0deg 0% 30%);
  --color-warning: hsl(51deg 100% 38%);
  --color-error: hsl(340deg 70% 45%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-y: scroll;
  background-color: var(--color-body-bg);
  color: var(--color-body);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

@media (min-height: 800px) {
  body {
    --game-spacing: 5vh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  border-bottom: 1px solid var(--color-header-border);
}

h1 {
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2rem;
  }
}

.game-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 250px;
  max-width: min(500px, 58vh, 100%);
  margin: 0 auto;
  padding: 2rem;
  gap: var(--game-spacing);
}

.guess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 2px solid var(--color-cell-border);
  color: var(--color-cell);
  font-size: 1.5rem;
  aspect-ratio: 1 / 1;
}

@media (min-width: 60rem) {
  .cell {
    font-size: 2rem;
  }
}

.guess:first-of-type .cell:first-of-type {
  border-radius: var(--radius) 0 0 0;
}

.guess:first-of-type .cell:last-of-type {
  border-radius: 0 var(--radius) 0 0;
}

.guess:last-of-type .cell:last-of-type {
  border-radius: 0 0 var(--radius) 0;
}

.guess:last-of-type .cell:first-of-type {
  border-radius: 0 0 0 var(--radius);
}

.correct {
  border-color: var(--color-success);
  background: var(--color-success);
}

.incorrect {
  border-color: var(--color-incorrect);
  background: var(--color-incorrect);
}

.misplaced {
  border-color: var(--color-warning);
  background: var(--color-warning);
}

.guess-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.guess-input-wrapper label {
  font-size: 1.25rem;
}

.guess-input-wrapper input {
  display: block;
  width: 100%;
  padding: .5rem 1.5rem;
  border: 2px solid var(--color-input-border);
  border-radius: .25rem;
  outline-offset: .25rem;
  background-color: var(--color-input-bg);
  font-size: 2rem;
}

.banner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  animation: slide-up 750ms cubic-bezier(0, .72, .24, 1.02);
  border-radius: .25rem;
  color: var(--color-banner);
  text-align: center;
  will-change: transform;
}

.happy {
  background: var(--color-success);
  color: var(--color-banner);
}

.sad {
  background: var(--color-error);
  color: var(--color-banner);
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
